# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("chipotle.tsv", sep="\t")

In [17]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [6]:
chipo['item_price_2'] = chipo['item_price'].apply(lambda price: float(price.replace('$' , ''))) 
# Sustituimos el string quitando el simbolo del dolar y pasandolo a float.

In [7]:
chipo['item_price_2'].idxmax()

3598

In [8]:
chipo.loc[3598, 'item_name']

'Chips and Fresh Tomato Salsa'

In [9]:
"11" < "2" 
# El precio estaba en string y no daba el resultado correcto.

True

In [15]:
chipo['unit_price'] = chipo['item_price_2'] / chipo['quantity']
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_2,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

### Step 4. How many products cost more than $10.00?

In [24]:
products_more10 = chipo.loc[chipo['unit_price'] > 10.00, 'item_name'].unique() #Este es mejor.
len(products_more10)

25

In [18]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()]['item_name'].unique()

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

In [12]:
#products_more10 = len(chipo[chipo["item_price_2"] > 10]) 
#products_more10

In [13]:
#products_more10 = chipo[chipo["item_price_2"] > 10]
#products_more10

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [23]:
pedidos_producto = chipo[chipo['unit_price'] > 10.00]['order_id'].unique()
numero_de_pedidos = len(pedidos_producto)
numero_de_pedidos

787

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 10$? Es lo mismo?

In [28]:
orders_sum = chipo.groupby('order_id')['item_price_2'].sum()
orders_sum

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price_2, Length: 1834, dtype: float64

In [29]:
len(orders_sum[orders_sum > 10])

1834

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [35]:
more_same_product = chipo[chipo['item_price_2'] > 10.00]['order_id'].nunique()
more_same_product

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [49]:
result = chipo[['item_name' , 'item_price_2']].rename(columns={'item_price_2': 'unit_price'})
result

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [50]:
result = result.drop_duplicates()
result

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

In [51]:
result['item_name'].nunique()

50

### Step 6. Sort by the name of the item

In [52]:
item_result = result.sort_values(by='item_name')

In [58]:
item_result

              item_name  unit_price
3389  6 Pack Soft Drink        6.49
1643      Barbacoa Bowl       11.75
919       Barbacoa Bowl       11.75
3547      Barbacoa Bowl       11.75
4510      Barbacoa Bowl       11.49
...                 ...         ...
186   Veggie Salad Bowl       11.25
295   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos        8.49
738   Veggie Soft Tacos       11.25
1699  Veggie Soft Tacos       11.25

[1130 rows x 2 columns]

In [53]:
sorted(chipo['item_name'].unique())

['6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos']

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [58]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()]['quantity'].unique()

array([2, 1])

In [59]:
chipo['unit_price'].idxmax()

281

In [60]:
chipo.loc[281, 'quantity']

np.int64(2)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [79]:
order_veggie_salad = chipo[chipo['item_name'] == "Veggie Salad Bowl"]
print(order_veggie_salad.shape[0])

18

In [75]:
chipo['item_name'] == "Veggie Salad Bowl"

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

### Step 9. How many times did someone order more than one Canned Soda?

In [64]:
canned_soda = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
len(canned_soda)

20